@import "../../index.module.scss";

.header {
  display: grid;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: $whiteText;
  box-shadow: rgb(0 0 0 / 20%) 0 0 10px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  min-width: 333px;
  height: 80px;

  @media (min-width: 1440px) {
    min-width: 1280px;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  color: $blackText;

  @media (min-width: 1440px) {
    font-size: 1.5rem;
  }
}

.text {
  display: grid;
  grid-auto-flow: column;

  font-size: 0.9rem;
  font-weight: 700;
  color: $greyText;

  cursor: pointer;

  transition: color 0.3s;

  &:hover {
    color: $blackText;
  }

  @media (min-width: 1440px) {
    font-size: 1.1rem;
  }
}

.img {
  align-self: center;
  width: 17px;
  height: 17px;
  margin-right: 5px;

  @media (min-width: 1440px) {
    margin-right: 10px;
  }
}

.darkMode {
  color: $whiteText;
  background-color: $lightDark;
}

.darkModeHover {
  &:hover {
    color: $whiteText;
  }
}
