@import "../../index.module.scss";

.countries {
  display: grid;
  width: 333px;
  margin: 0 auto;

  @media (min-width: 1440px) {
    width: 1280px;
  }
}

.cards {
  display: grid;
  gap: 30px;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(5, 220px);
    gap: 45px;
  }
}

.darkMode {
  background-color: $darkBackground;
}
